[submodule "debugger/Keyboard"]
	path = debugger/Keyboard
	url = https://github.com/Benvie/Keyboard.git
[submodule "node_modules/esprima"]
	path = node_modules/esprima
	url = git://github.com/Benvie/esprima.git
[submodule "node_modules/CodeMirror"]
	path = node_modules/CodeMirror
	url = git@github.com:Benvie/CodeMirror.git
[submodule "third_party/CodeMirror"]
	path = third_party/CodeMirror
	url = https://github.com/Benvie/CodeMirror.git
[submodule "third_party/esprima"]
	path = third_party/esprima
	url = https://github.com/Benvie/esprima.git
